a.btn-success {
  color: #fff;
  background: #50E3C2;
  border-color: #24dcb3;
}
a {
  color: #50E3C2;
}
nav a {
  color: #000;
}
nav #bs-example-navbar-collapse-1 {
  float: right;
}
nav p.subtitle {
  font-size: 0.8em;
  color: #bbb;
  margin-top: 10px;
  margin-bottom: 0px;
}
body {
  font-family: 'Open Sans', sans-serif;
  /*padding-top: 70px; because of fixed navbar */
}
body h1 {
  font-weight: bold;
  font-size: 18px;
}
body h2 {
  font-weight: bold;
  font-size: 16px;
}
.project-row {
  margin-bottom: 3em;
}
.project-row h2 {
  padding: 0px;
  margin-top: 0px;
}
.project-row a {
  font-weight: bold;
  color: #50E3C2;
}
.project-row .tag-list {
  margin-top: 1em;
  color: #999;
  font-size: 10px;
}
.project-row .year {
  color: #999;
  margin-top: 1em;
}
#main .navbar {
  margin-bottom: 2em;
}
/*** project page ****/
.project_grid {
  margin-bottom: 4em;
  color: #aaa;
}
.project_grid a {
  color: #777;
}
.project_grid a:hover {
  color: black;
  text-decoration: none;
}
.project_grid .info-container {
  margin-left: 10px;
}
.project_grid .project-title {
  margin-top: 0px;
  font-size: 1em;
  line-height: 1.3em;
}
.project_grid .project-description {
  font-size: 0.9em;
}
.project_grid .project-year {
  margin-top: 2em;
  text-align: left;
  font-size: 0.8em;
}
.project_grid .readMore a {
  color: #50E3C2;
  font-weight: bold;
  display: inline;
  font-size: 0.8em;
}
#menu-list {
  /* tagas**/
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px dotted #888;
  font-weight: bold;
  font-size: 0.9em;
  color: #888;
}
#menu-list a {
  color: #50E3C2;
}
/*****************/
footer {
  border-top: 1px solid #ccc;
  margin-top: 5em;
  background-color: #eee;
}
footer #footer-wrapper {
  text-align: center;
  padding: 2em 0em;
}
/*** pgina about **/
li span.date {
  font-style: italic;
  font-size: 0.8em;
}
.lista li a {
  text-decoration: none;
  border-bottom: 1px dotted #333;
  color: #222;
}
li span.institution {
  font-variant: small-caps;
}
/****** mobile ******/
@media only screen and (min-width: 768px) {
  body {
    padding-top: 70px;
    /*because of fixed navbar */
  }
  nav.navbar {
    top: 0;
    border-width: 0 0 1px;
    border-radius: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 0em;
  }
}
