---
extends: base.j2
default_block: main
title: Sergio Galán. Portfolio & Info
description: Home page for the BASIC hyde template
---

{% from "macros.j2" import render_excerpt with context %}
{% filter typogrify %}

<div class="row">
  <div class="col-lg-12" style="margin-bottom:2em;"></div>
</div>

{% for res in site.content.walk_resources_sorted_by_date()  %}
   {% if 'Cover' in res.meta.tags %}
   <div class="row project-row">
    {% from "macros.j2" import render_image_video with context %}
   {{ render_image_video(res) }}  

    <div class="col-md-3 col-md-offset-1 project-info col-md-pull-7">
      <h2>{{ res.meta.title }} </h2>
       {{res.meta.description}} 

       <div class="year">
          {{ res.meta.year }} 
        </div>

       <div class="extra">
        {% if res.meta.client %}                    
           Client: {{ res.meta.client }}        
        {% endif %}        
       </div>

       <div class="taglist">
        {% for tag in res.meta.tags %}                    
            <a href="/portfolio/tags/{{ tag }}.html" class="tag-list"> {{ tag }} </a> /                    
        {% endfor %}        
       </div>
       

       <div class="read-more" style="text-align:right; margin-top:2em">
         <a href="{{'/portfolio/'+ res.meta.folder + '.html'}}" class="read-more" > [read more...] </a>
       </div>
    </div>      
</div>    
    {% endif %}     
{% endfor %}

<div id="extra"> </div>


<div class="row" style="text-align:center">
  There are many more projects...<br/>
<a href="/portfolio" class="btn btn-success btn-sm"> Check out the other stuff </a> 
</div>

<div class="row" style="display:none">

Clientes: BQ, medialab-prado, MUNCYT, UNED, ECUADOR, UPM
  </div>


	<script>

  </script>
	{% endfilter %}
	