---
title: City Fireflies
folder: city-fireflies
year: 2010
month: 10
tags: 
    - Urban
    - Game
    - Featured
    - Cover    
description: Play with the light of your mobile phone at Medialab-prado LED media facade. 

team: Sergio Galán, Victor Diaz
context: full project
mytasks:  Concept, Prototyping Programming, 
tools:  Open Frameworks
default_block: ""
video_id: 25071870
video_kind: vimeo
images: ['slide1','slide2','slide3']
---

{% block extra_video2 %} 
<iframe src="http://player.vimeo.com/video/19351923" width="100%" height="450" frameborder="0"></iframe>
{% endblock extra_video2 %} 

{% block project_content %} 
         <div class="textblock">City Fireflies is a multiplayer collaborative game for public spaces.<br>


<br>
<br>
<h2>  The story </h2><br>
Medialab-prado has a huge media facade and we wanted to make a game with it.<br>
<br>
The result is City Fireflies, where we introduced a new way of interacting with public screens. The traditional ways of interacting usually are:<br>
<br>
1. Body shape recognition.<br>
2. Software for mobile phones. <br>
<br>
The first one is very limited and for the second one you must tell people to download a software, which takes some time and is not suitable for casual play.<br>
<br>
Our solution was to use the mobile phone in a different way: we track the light of the screen. So it is compatible with most of the devices on the market :-)<br>

<br>
The facade is a bit hidden but next to the most touristy spots in the city. So we focus on casual play for people walking through the street. <br>
<br>
The fact of having something on the hand (the mobile phone) and using it as a "game device" makes the game very playful and the experience involves the whole body. <br>
<br>
The game mechanics is simple: players need to remove the "threats" that are trying to take over the square. <br>
There are different levels and to clean the screen one player is not enough, so as the game progresses, it becomes a <strong>multiplayer collaborative game. </strong><br>
</div>
{% endblock project_content %}
                
  