---
title: DreamHamar
folder: dreamhamar
year: 2011
month: 11
tags: 
    - Client
    - Interactive-installation
    - Featured
    - Urban
    
description: A light based interactive installation made for the square of Hamar (Norway)
team: Sergio Galán, Victor Díaz, Guillermo Casado.
context: The arquitecture studio <a href="http://ecosistemaurbano.com"> ecosistemaurbano </a> wanted to make an light-based-installation for a square they were redesigning.
mytasks:  Project Brief, Schedule, User research, Workshop, Prototyping and testing.
tools: Arduino, Processing, electronics
default_block: ""
images: ['slide1','slide2','slide3','slide4']
---


{% block video_header %} 
   
{% endblock video_header %}

{% block project_content %} 
         <div class="textblock"><h2> INTRO </h2><br>
         <p>          Ecosistema urbano wanted to involve neighbours in the design of the new square. Through different events they wanted to inspire and open new possibilities for the square. 
         
        Through a different set of proposals we decided to use baloons because of the relative low cost and mood they could create during the dark and cold nights in Norway.
         
         The installation consisted in a grid of helium inflated balloons with ultra bright LEDs inside controlled by a computerized system that allows multiple interactions and working modes that can be changed at any moment.
         </p>
        Here a list of different features that we made:
        <ul> 

<li> Light patterns that change according the environmental sound in the square. This was used during a chorus </li>
<li> Color change according to weather forecast</li>
<li>    touch inputs in a phone screen </li>
<li> direct smsing and emailing to different balloons containing the blinking pattern </li>
</ul>
         </div>
         
         The featured performance was a chorus of people singing while the balloons' light reacted to the music.

         
      {% endblock project_content %}