---
title: Recollect
folder: recollect
year: 2009
month: 8
tags: 
    - Student-Project
    - Speculative-Concept
    - Web-Mobile
description: Recollect is a media player that arranges the multimedia library in an autobiographical way. (student project)
team: Sergio Galán, Marcus Paeschke, Quentin Ducan, Adeel Rashid.
context: Project in collaboration with <a href="http://tat.se/">The astonishing tribe</a>
mytasks: Concept development. Interface architecture, User testing 
tools:   User interviews, Personas&Scenarios, Paper prototyping, User testing, Video prototyping.
default_block: ""
images: ['paper2','prototype1','recollect']
---

{% block extra_video2 %} 
<object width="640" height="385"><param name="movie" value="http://www.youtube.com/v/AQvOnDlql5g?fs=1&amp;hl=es_ES"><param name="allowFullScreen" value="true"><param name="allowscriptaccess" value="always"><embed src="http://www.youtube.com/v/AQvOnDlql5g?fs=1&amp;hl=es_ES" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></object>
{% endblock extra_video2 %} 


{% block project_content %} 



         <div class="textblock"><h2>What Recollect! is?</h2><br>
Recollect It's a media player that chronicles your life based on your media collection.<br>
To make it work, the user gives it access to his online life: Facebook, Spotify or Lastfm and also to his music/video/photograph library. Recollect processes this information and relates the media library with real life elements like friends, places or events. So, for instance, selecting a friend in the cool mind map-like interface, will drive you to the music you and he likes, your common photographs and events you shared. We designed Recollect! as the future of social media players and the last movements of Spotify (facebook integration) and itunes (ping) give us reasons to think we were right.<br>
<br>
Recollect! seeks to:<br>
•   Classify the media in a meaningful way for the user.<br>
•   Boost the arousal of memories that spontaneously come up when you look at a photograph or listen to a song.<br>
<br>
The next two videos contains the video prototype and a small funny "advertisement" that we shot in addition. <br>
</div>

<div class="textblock"><h2> Brief &amp; context: </h2><br>
This concept was developed during a mobile computing project in the Interaction Design Master course at the Malmö University. The goal was to design a new mobile media player concept. It was supervised by the Malmö based company <a href="http://tat.se">The astonishing tribe</a><br>
<br>
<h2> My Tasks </h2><br>
I was involved in all the process with the rest of the team. Specially my contribution was remarkably  in the concept development. In this process we began with tools like, <strong>interviews with media player users</strong> and used them to create <strong>personas&amp;Scenarios </strong>. Once we decided our user group, we began to build paper sketches and testing them with users and rethinking our concept and iterating until we thought it was good enough to be showed through a video. <br>
<br>
The next images represent different part of the concept+interface design from coming up with different concept at the begining and trying to find answer to basic questions like: how much effort do we want from the user, which are the main qualities each design?<br>
Through talks with users we decided to focus our concept in this experiential qualities( according to <a href="http://www.ida.liu.se/~HIIC69/kursmtrl/art1.pdf">Löwgren</a>):<br>
<br>
<ul><br>
<li> <b>Autonomy</b>: In our concept the product is a fully autonomous agent: The user only provides its information about what online services/desktop applications he uses and leaves the rest to the application in order to figure out the best way to rearrange the information.<br>
</li><br>
<li><b>Anticipation in the interface Surprise in the content:</b><br>
The interface builds on some kind of mind-map metaphor and presents the user with nodes (memories) and connections between the nodes. The number and possible contents of these connections are limited to three options. This way the navigation and number of choices is totally predictable and easy to use. On the other hand, the actual content you might see when following the connections might be surprisingly rich. Connections between events, friends and places you have long forgotten or never thought about will be brought back to your mind.<br>
</li><br>
<li><br>
<b>Functional Minimalism:</b> Memories and how users like to interact with them is a big arena to play in. In order to get the concept working, we focused on the core value of our application and thus deliberately worked towards functional minimalism. The software arranges the media library, and the user browses this library.<br>
</li><br>
</ul><br>
Anyway I have to say that even if we relied on an user centered design strategy with interviews, personas etc, my main inspiration came from the movie, "high fidelity":<br>
<br>

<div class="textblock">The potential users we talked with, showed a moderate enthusiasm when we showed them the final concept, and as I pointed before i think we envisioned the future trends in media players.<br>
<br>
On the other hand our industry stakeholder (TAT) thought the concept was interesting  but they were skeptical about the viability of the algorithm programming without magical powers. But I strongly disagree on this.<br>
<br>
A paper about Recollect was accepted at the Sider conference 2010. This paper explains the user centered developing process, describing all the tools that were used while we learned it and introduces some reflexions and findings about media, people, memories and digital materials. <br>
<a href="http://www.ingredientsingradients.com/SIDER2010/papers/109-paper.pdf"> Recollect! The media player that chronicles your life. </a>
</div>
{% endblock project_content %}     
        