---
title: Trans Europe Slow
folder: transeuropeslow
year: 2013
month: 6
tags: 
    - Urban
    - Art
    - Featured
    - Personal
description: An interactive installation to explore the less-known of European cities through the eyes of an urban cyclist

team: Sergio Galán, Jose Roncero, Tomás Virgós, Victor Diaz
context: Developed within the connecting cities European Project 2013
mytasks:  Concept, Programming, Coordination
tools:  Open Frameworks, Processing, Arduino (panstamp)
default_block: ""
video_id: 77517886
video_kind: vimeo
images: ['slide4','slide2', 'slide3','slide1']
---

{% block extra_video %} 

<object id="null" width="100%" height="370" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">     <param value="true" name="allowfullscreen"/>    <param value="always" name="allowscriptaccess"/>    <param value="high" name="quality"/>    <param value="true" name="cachebusting"/>    <param value="#000000" name="bgcolor"/>    <param name="movie" value="http://m2hz.net/js/flowplayer2/flowplayer.commercial-3.2.7.swf" />    <param value="config=http://m2hz.net/sites/all/modules/m2hz/flow-config.php%3Fnid%3D2488" name="flashvars"/>    <embed src="http://m2hz.net/js/flowplayer2/flowplayer.commercial-3.2.7.swf" type="application/x-shockwave-flash" width="100%" height="370" allowfullscreen="true" allowscriptaccess="always" cachebusting="true" flashvars="config=http://m2hz.net/sites/all/modules/m2hz/flow-config.php%3Fnid%3D2488" bgcolor="#000000" quality="true">    </embed>
</object>
    
   
       


{% endblock extra_video %}

{% block project_content %} 
         <div class="textblock">An interactive installation to explore the less-known of european cities through the eyes of a urban cyclist<br>


<br>
What do we know about other European cities? Mass tourism and 
marketing homogenize cities in a list of commonplaces and a small 
amount of stories ready to be sold. But what is beyond the city center?
With Trans Europe Slow we propose to collectively explore the city to 
find places which tells different stories. As a cyclist is easier to connect 
the different parts of the city, find alternative routes and explore hidden 
streets. 

To find about this real places we worked with <a href="http://pajapaja.tumblr.com"> a self-managed bike workshop in Helsinki </a> and with neigbours from northen liverpool. 

After listing some places we get lost in the city recording the routes with a camera on the bike.

<h2>  Installation </h2>
<p>  In the physical installation, the videos are controlled by the visitor by a set of pedals. When the visitor 
pedals, the image advance jumping between cities. Installation in Helsinki and Liverpool where conected. When somebody pedaled in Helsinki, another set of pedals moves automatically in Liverpool.

The set of pedals were built in collaboration with a local bike workshop in a self-managed social space: <a href="http://blogs.latabacalera.net/recicletos/">Los recicletos</a> at <a href="http://latabacalera.net"> Tabacalera</a>
</p>

<h2> Story </h2>
<blockquote>[The urban Cyclist] sneak into another geography, eminently and 
literally “poetic”, because it offers the possibility to contact places that 
before were only visited independently.[...] It allows them to reassess 
distances and make approaches that cannot be made on public 
transportation, which is limited to fixed itineraries

<br> <strong> Marc Auge "in praise of Bicycles"</strong>
</blockquote>

50 years ago Kraftwerk astonished the word with their electronic songs 
acclaiming the idols of the modern civilisation: Technology, machines, 
speed.
The promises of endless traveling and exploration promised by the high 
speed trains of their TransEuropeExpress, deserve to be reconsidered 
in the age of the standard tourist. Dreams of never-ending 
industrialization get old and new ways of living break through the holes.
Speed must calm down, travel becomes stroll.
E
</div>  
{% endblock project_content %}
                
  